<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.poyozo.listomateold" android:versionCode="1"
	android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="10" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />
	<uses-permission android:name="android.permission.READ_SYNC_STATS" />
	<uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
	<uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<!-- required for accessing the device ID -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />

	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

	<!-- Cloud to Device Messaging permissions -->
	<permission android:name="com.poyozo.listomateold.permission.C2D_MESSAGE"
		android:protectionLevel="signature" />
	<uses-permission android:name="com.poyozo.listomateold.permission.C2D_MESSAGE" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:description="@string/description" android:debuggable="true">

		<provider andro.ListomateProviderteold.ListomateProvidereProvider" android:label="@string/app_name"
			android:authorities="com.poyozo.listomateold" android:syncable="true" />

		<activity android:name=".AccountList" android:label="@string/app_name"
			android:theme="@style/TallTitle">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".NotesList" android:label="@string/note_list"
			android:theme="@style/TallTitle">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.EDIT" />
				<action android:name="android.intent.action.PICK" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.listomate.note" />
			</intent-filter>
		</ac.NoteEditor<activity ancom.poyozo.listomateold.NoteEditor".NoteEditor" android:theme="@android:style/Theme.Light"
			android:label="@string/title_note" android:screenOrientation="sensor"
			android:configChanges="keyboardHidden|orientation">
			<!-- This filter says that we can view or edit the data of a single note -->
			<intent-filter android:label="@string/resolve_edit">
				<action android:name="android.intent.action.EDIT" />
				<action android:name="android.intent.action.VIEW" />
				<action android:name="com.example.jumpnote.android.action.EDIT_NOTE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.listomate.note" />
			</intent-filter>

			<!-- NOT USED ? This filter says that we can create a new note inside 
				of a directory of notes. <intent-filter> <action android:name="android.intent.action.INSERT" 
				/> <category android:name="android.intent.category.DEFAULT" /> <data android:mimeType="vnd.android.cursor.dir/vnd.jumpnote.note" 
				/> </intent-filter> -->
		</activity>


		<service android:name=".SyncService" android:exported="true">
			<intent-filter>
				<action android:name="android.content.SyncAdapter" />
			</intent-filter>
			<meta-data android:name="android.content.SyncAdapter"
				android:resource="@xml/syncadapter" />
		</service>

		<!-- In order to use the c2dm library, an application must declare a class 
			with the name C2DMReceiver, in its own package, extending com.google.android.c2dm.C2DMBaseReceiver 
			It must also include this section in the manifest, replacing "com.google.android.apps.chrometophone.C2DMReceivers package name. -->
		<service ancom.poyozo.listomateold.C2DMReceiverC2DMReceiver" />

		<!-- Only Google services can send messages to the app. If this permission 
			weren't set acom.google.android.c2dm.C2DMBroadcastReceivero us. -->
		<receiver ancom.google.android.c2dm.C2DMBroadcastReceivercastReceiver"
			android:permission="com.google.android.c2dm.permission.SEND">
			<!-- Receive actual messages -->
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="com.example.jumpnote.android" />
			</intent-filter>
			<!-- Receive registration ids -->
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category android:name="com.example.jumpnote.android" />
			</intent-filter>
		</receiver>
	</application>
</manifest>