<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta name="google-site-verification" content="mip2rw9r2ei7TFIBvcoPNHmmsu2B-mtLFg-9XKdcT8A" />
        <title>Atomate | Your Digital Personal Assistant</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta property="og:title" content="Atomate - Your digital personal assistant">
        <meta property="og:app_id" content="122681067752275">
        <meta property="og:site_name" content="Atomate">
        <meta property="og:image" content="http://atomate.me/img/atomate_logo.png">
        <meta property="og:url" content="http://atomate.me">
        <meta property="og:type" content="website">
        <meta property="og:description" content="Atomate helps you stay organized by giving you one place to find and update all the things you need for you day. It parties responsibly">
        <meta name="google-site-verification" content="aD7Wc1l-F7TrLmts5a_HZVTY6l4LErExVFyB_O0ADwc" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="img/favicon.ico">
        <link rel="stylesheet" href="css/base.css?v=3">
        <link rel="stylesheet" href="css/autocomplete.css?v=3">
        <link rel="stylesheet" href="css/popup.css?v=3">
        <link rel="stylesheet" href="css/notes.css?v=3">
        <link rel="stylesheet" href="css/settings.css?v=3">
        <link rel="stylesheet" href="css/tabs.css?v=3">
        <link rel="stylesheet" href="css/input.css?v=3">
    </head>
    <body>
        <div id="container">
            <div class="ts">
                <div class="logo">
                    <img src="img/atomate_bot.png" />
                    Atomate
                </div>
                <fb:login-button autologoutlink="true"></fb:login-button>
                <a href="print.html">Print</a>
                <a href="trashbin.html">Trash</a>
                <a href="settings.html">Settings</a>
                <fb-root></fb-root>
            </div>
            <div class="ls">
                <ul id="tabs"></ul>
            </div>
            <div class="rs">
                <div id="input">
                    <textarea id="main_input" rows="1" cols="52"></textarea>
                    <div class="controls clearfix">
                        <input id="id_note_save" type="submit" value="Save" class="notes_save_btn" />
                        <div class="location_input">
                            <label>Location:</label>
                            <select>
                                <option val="none">None</option>
                            </select>

                            <label>Time:</label>
                            <input type="text" placeholder="6/25/2011" class="picker_date"/>
                            <input type="text" placeholder="10:30pm" class="picker_time" />
                        </div>
                    </div>
                </div>
                <ul id="notes"></ul>
                {% comment %}
                {% include "settings.html" %}
                {% endcomment %}
            </div>
        </div>
        {% include "add_tab.html" %}

        <script src="lib/jquery.min.js"></script>
        <script src="lib/jquery.ui.min.js"></script>
        <script src="lib/dateformat.js"></script>

        <script src="js/atomate.js"></script>
        <script src="js/util.js"></script>
        <script src="js/detector.js"></script>
        <script src="js/validator.js"></script>
        <script src="js/tracking.js"></script>
        <script src="js/templates.js"></script>
        <script src="js/autocomplete.js"></script>
        <script src="js/notes.js"></script>

        <script src="js/database.js"></script>
        <script src="js/database.notes.js"></script>
        <Script Src="js/database.person.js"></script>
        <script src="js/database.location.js"></script>

        <script src="js/auth.js"></script>
        <script src="js/auth.fb.js"></script>
        <script>
            /*
            * NOTE: DO NOT LOAD AS AN EXTERNAL FILE
            *
            * must be in document root. :/
            */

// Facebook & Mixpanel initialize
{% comment %}
(function() {
         var e = document.createElement('script');
         e.type = 'text/javascript';
         e.src = document.location.protocol +
	         '//connect.facebook.net/en_GB/all.js';
         e.async = true;
         document.getElementById('fb-root').appendChild(e);
     }());

    // MIX PANEL
    var mpq = ["init", "d3950de9980b43abe44956d1511c6af5"];
    mixPanelInit = function() {
        try {
            // TODO: email MixPanel about this - to run callbacks they require a global called 'mpmetrics'
            mpmetrics = new MixpanelLib("d3950de9980b43abe44956d1511c6af5");
            return mpmetrics;
        } catch(err) {
            var null_fn = function () {};
            mpmetrics = {
                track: null_fn,
                track_funnel: null_fn,
                register: null_fn,
                register_once: null_fn,
                register_funnel: null_fn,
                identify: null_fn
            };
            return mpmetrics;
        }
    };
    var _gaq=[["_setAccount","UA-11329288-1"],["_trackPageview"]]; // Change UA-XXXXX-X to be your site's ID
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
                   g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
                   s.parentNode.insertBefore(g,s)}(document,"script"));
{% endcomment %}

jQuery(document).ready(function(){
                           Atomate.initialize({
                                                  //trackingmodule: mpq,
                                                  //mixPanelInit: mixPanelInit,
                                              });
                       });
        </script>
    </body>
</html>
