/* HTML5 ✰ Boilerplate */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }



.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

/* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
    * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
        -ms-filter: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}


/**
 * Primary styles
 *
 * Author: Brennan Moore
 */

html, body {
    color:#222222;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:75%;
    background-color:white;
    width: 750px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}


a {
    text-decoration: none;
    font-weight: normal;
    border: none;
    margin: 0;
    display:inline-block;
    color: #0044CC;
}

a:hover {
    color: navy;
    backround: white;
    text-decoration: underline;
    cursor:pointer;
}

p { margin-top:4px; }


h1 {
    display:inline-block;
    font-weight:bold;
    margin:0;
    padding:0 8px;
    text-decoration:none;
}

h2 {
    background: #F3F3F3;
    color: #333;
    display: block;
    font-size: 19pt;
    font-weight: bold;
    line-height: 19px;
    margin: 0px;
    padding: 19px;
    text-decoration: none;
    width: auto;
    line-height: 138%;
    font-weight: normal;
}

h3 {
    color:#333333;
    font-size:28px;
    font-weight:normal;
    line-height:21px;
    margin:0;
    text-decoration:none;
    margin-bottom:18px;
}

h4 {
    text-decoration: none;
    font-weight: bold;
    color: #120007;;
    font-size: 14px;
    border: none;
    margin: 0px;
    padding: 0px;
    margin-bottom:8px;
}


ul {
    list-style: none;
    font-weight: normal;
}

.subscribe {
    float: right;
    width: 237px;
    vertical-align: top;
}

.subscribe form {
    padding:20px;
    background:lightblue;

}

.social {
    position:absolute;
    top:10px;
    right:10px;
}
.rightbox {
    border-top:0 solid grey;
    display:inline-block;
    height:98px;
    margin:5px 9px;
    padding:3px 5px;
    vertical-align:top;
    width:205px;
}

.content {
    padding:0px;
    width:750px;
}

.imgheader {
    border-bottom:0 dotted grey;
    color:#4B4B4B;
    font-size:2em;
    font-weight:bold;
    line-height:30px;
    margin:0;
    padding-bottom:3px;
    text-decoration:none;
    width:auto;
    margin-bottom:-7px;
}

.modelIndent {
    font-size: 12px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 18px;
    color: #333333;
}

.paint img{
    margin-bottom:2px;
    margin-top:10px;
    width:186px;
}

#footer {
    width: 400px;
    border-top: 1px lightgrey solid;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    text-align: center;
    font-size:12px;
    margin-top:5px;
    color:#666;
    text-decoration:none;
}

#footer a {
    color:#333333;
    margin-top:5px;
    text-decoration:none;
    cursor:pointer;
}
#footer a:hover {
    text-decoration:underline;
}

.header {
    background: #F3F3F3;
    font-size:22px;
    line-height:34px;
    margin-bottom:11px;
    margin-top:-6px;
    padding:11px 17px 12px;
}

.titleimg {
    width:950px;
    height:200px;
    margin-top:-6px;
}

.tagline {
    display:inline-block;
    font-size:20px;
    font-weight:lighter;
    margin-left:6px;
    margin-top:1px;
    vertical-align:top;
    width:315px;
}
.quote {
    background:none repeat scroll 0 0 lightyellow;
    color:#333333;
    font-size:16px;
    line-height:25px;
    margin:14px 0 0;
    padding:6px 19px 2px;
}

.quote  p {
    margin-bottom:12px;
}

.midhighlight {
    height:119px;
    margin-top:-9px;
}

.shadowedcontent {
    margin-bottom: 28px;
    -moz-box-shadow: -1px 6px 16px #DDD;
    -webkit-box-shadow: -1px 6px 16px #DDD;
    box-shadow: -1px 6px 16px #DDD;
    border: 1px solid #DDD;
}

.video {
    width:400px;
    background:lightyellow;
    height:250px;
}
.maincontent {
    padding:40px;
    font-size:15px;
    line-height:142%;
}

.maincontent h5 {
   line-height:152%;
}

.maincontent p {
    width:70%;
    margin-bottom:29px;
    font-size:12px;
    color:#444;
}

ul {
    margin:0px;
    margin-top:2px;
    margin-bottom:29px;
}

input[type="text"] {
    height: 31px;
    padding-left: 8px;
    border: 1px solid #C2C2C2;
    box-shadow: 0 1px 1px #E1E3E7;
    -webkit-box-shadow: 0 1px 1px #E1E3E7;
    -moz-box-shadow: 0 1px 1px #E1E3E7;
    font-size: 14px;
}

input[type="submit"] {
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    -moz-box-shadow: 1px 1px 1px #777;
    -webkit-box-shadow: 1px 1px 1px #777;
    box-shadow: 1px 1px 1px #777;
    -moz-text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.35);
    -webkit-text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.35);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.35);
    border: 1px solid #3B5615;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 16px;
    line-height: 148%;
    font-weight: bold;
    height: 16px;
    margin: 1em 0 0;
    text-align: center;
    text-decoration: none;
    padding: 8px 24px 29px;
    background: #6AAA0B;
}

ul li {
    color: #333;
    display: list-item;
    list-style: disc outside none;
    margin-left: 0px;
    padding: 2px;
    margin-left: 18px;
    vertical-align: top;
    font-size:12px;
}

.logo {
    height:auto;
    margin-bottom:-29px;
    margin-left:32px;
    margin-top:-11px;
    width:auto;
}

.downloadlink {
    background:none repeat scroll 0 0 #333333;
    border-color:#333333 #333333 rgba(0, 0, 0, 0.25);
    border-style:solid;
    border-width:1px;
    color:#FFFFFF;
    cursor:pointer;
    display:inline-block;
    font-size:19px;
    margin-bottom:0;
    padding:7px 10px 9px;
    position:relative;
    text-decoration:none;
    text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);
    opacity:1;
    -moz-border-radius:5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
    -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
}
.downloadlink:hover { background-color:#666; }

.downloadlink img:hover { opacity:0.4; }